{{!-- all.hbs --}}

<style>
    
</style>

{{#if listExists}}
    <table >
        <tr>
            <th>Titulo</th>
            <th>Precio</th>
            <th>ID</th>
        </tr>
        {{#each todosLosProductos}}
            <tr>
                <td class="{{this.title}}">{{this.title}}</td>
                <td class="{{this.price}}">{{this.price}}</td>
                <td class="{{this.id}}">{{this.id}}</td>
            </tr>
        {{/each}}
    </table>

    <nav>
        <a href="/"><button>Ir al formulario</button></a>
    </nav>

{{/if}} --}}
